.rounded-btn, .sidebar-brand, span.selectgroup-button.selectgroup-button-icon {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.card {
  border-top: 2px solid #6777ef;
}
.card .card-header {
  display: flex;
  justify-content: space-between;
}

.author-box .card-banner {
  height: 40px;
}
.author-box .card-banner .profile-bg {
  height: 160px;
  background-position: center;
  background-blend-mode: screen;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
  background: url("../../img/logo/glossy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.author-box .card-banner img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-top: -2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.author-box .author-box-picture {
  margin-top: -2rem;
  border: 3px solid #fff;
}

.author-box .author-box-picture {
  box-shadow: 0 4px 25px 0 #828282;
}

.user-profile__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-profile__details h6 {
  color: #656565;
  font-weight: normal;
}

.roles {
  display: grid;
  grid-template-columns: auto auto;
}
@media screen and (max-width: 767.98px) {
  .roles {
    display: unset;
  }
}
.roles .checkbox {
  display: block;
  margin-bottom: 1rem;
}

.roles-badge .badge {
  margin-bottom: 1rem;
}

.control-label {
  text-transform: capitalize;
}

.pretty.p-default input:checked ~ .state label:after,
.pretty.p-default:not(.p-fill) input:checked ~ .state.p-primary-o label:after {
  background: #6777ef !important;
}

.input-group-text, select.form-control:not([size]):not([multiple]), .form-control:not(.form-control-sm):not(.form-control-lg) {
  padding: 0.375rem 0.75rem;
}

a:not(.btn-social-icon):not(.btn-social):not(.page-link) .ion, a:not(.btn-social-icon):not(.btn-social):not(.page-link) .fas, a:not(.btn-social-icon):not(.btn-social):not(.page-link) .far, a:not(.btn-social-icon):not(.btn-social):not(.page-link) .fal, a:not(.btn-social-icon):not(.btn-social):not(.page-link) .fab {
  margin-left: 0 !important;
}

.light-sidebar .main-sidebar .sidebar-menu li ul.dropdown-menu li.active > a,
.light-sidebar .main-sidebar .sidebar-menu li ul.dropdown-menu li.active > a::before {
  color: #6777ef !important;
}

.main-sidebar .sidebar-brand a .header-logo {
  margin-top: -5px;
}

.author-box .author-box-picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  background: white;
}

.navbar .nav-link.nav-link-user img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.author-box .author-box-name {
  line-height: 1px;
  border-bottom: 1px solid #e4e4e4;
}
.author-box .author-box-name .author-box-name-text {
  background: white;
  padding: 0 2rem;
  font-size: 20px;
}

.rounded-btn {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 1rem;
  line-height: 1;
  font-weight: bold;
}

.card-btn .btn-success {
  margin-right: 0.5rem;
}

.table-custom-btn {
  display: flex;
  align-items: center;
}
.table-custom-btn form {
  margin: 0;
}

table th {
  white-space: nowrap;
}
table .interview-details {
  margin: 1rem 0;
}

.login {
  background-image: linear-gradient(90deg, rgba(57, 78, 234, 0.1) 0%, rgba(9, 9, 121, 0.1) 82%, rgba(0, 0, 0, 0.1) 100%), url("../../img/logo/body-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login .card {
  border: none;
  border-radius: 25px;
  margin: 0;
}
.login .card .card-body {
  padding: 0;
}
@media screen and (max-width: 767.98px) {
  .login .card .card-body {
    padding: 1.5rem;
  }
}
.login .login-bg {
  background: linear-gradient(90deg, rgba(57, 78, 234, 0.3) 0%, rgba(9, 9, 121, 0.3) 82%, rgba(0, 0, 0, 0.3) 100%), url("../../img/logo/login-bg.jpg");
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.login .login-form {
  margin: 2rem 0;
}
.login .google-button {
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 10px #b5b5b5;
}
.login .google-button:hover {
  background-color: transparent !important;
  color: #737373 !important;
}
.login .google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.login .google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", arial, sans-serif;
}
.login .hr-line {
  text-align: center;
  margin: 2rem 0;
  border-bottom: 1px solid #d8d8d8;
  line-height: 0.1rem;
}
.login .hr-line__text {
  background: white;
  padding: 0 1rem;
  font-weight: normal;
  font-size: 15px;
}
@media screen and (max-width: 767.98px) {
  .login .btn-login {
    width: 100%;
  }
}
.login .login-logo {
  width: 100%;
  text-align: center;
}
.login .login-logo img {
  height: 50px;
  margin-bottom: 2rem;
}
.login .sign-in-text {
  color: black;
  margin-bottom: 2rem;
}

/*# sourceMappingURL=custom.css.map */
