.card {
    border-top: 2px solid #6777ef;

    .card-header {
        display: flex;
        justify-content: space-between;
    }
}

.author-box {

    .card-banner {
        height: 40px;

        .profile-bg{
            height: 160px;
            background-position: center;
            background-blend-mode: screen;
            border-radius: 10px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
            background: url("../../img/logo/glossy.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        img {
            height: 150px;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
            margin-top: -2px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .author-box-picture {
        margin-top: -2rem;
        border: 3px solid #fff;
    }
}

.author-box .author-box-picture{
    box-shadow: 0 4px 25px 0 #828282;
}

.user-profile__details{
    display: flex;
    align-items: center;
    justify-content: space-between;

    h6{
        color: #656565;
        font-weight: normal;
    }
}
