.sidebar-brand{
    @extend %center-content;
}

a:not(.btn-social-icon):not(.btn-social):not(.page-link) .ion, a:not(.btn-social-icon):not(.btn-social):not(.page-link) .fas, a:not(.btn-social-icon):not(.btn-social):not(.page-link) .far, a:not(.btn-social-icon):not(.btn-social):not(.page-link) .fal, a:not(.btn-social-icon):not(.btn-social):not(.page-link) .fab {
    margin-left: 0 !important;
}

.light-sidebar .main-sidebar .sidebar-menu li ul.dropdown-menu li.active>a,
.light-sidebar .main-sidebar .sidebar-menu li ul.dropdown-menu li.active>a::before{
    color: #6777ef !important;
}

.main-sidebar .sidebar-brand a .header-logo{
    margin-top: -5px;
}
